---
layout: archive
title: "Academic services"
permalink: /services/
author_profile: false
---

{% include base_path %}

<h2> Academic services </h2>
<h4> 2021 </h4>
2021-02: ICML 2021 reviewer

<h4> 2020 </h4>
2021-10: ICLR 2021 reviewer

<h2> Teaching assistant </h2>
<h4>University of Texas at Austin</h4>
2020 Fall: <a href="https://stat.utexas.edu/undergraduate/courses-undergraduate#dataanalysishs">SDS 348 </a> 
2020 Spring: <a href="https://stat.utexas.edu/undergraduate/courses-undergraduate#dataanalysishs">SDS 348 </a> 
2019 Fall: <a href="https://stat.utexas.edu/undergraduate/courses-undergraduate#dataanalysishs">SDS 302 </a> 

<h4>Shanghai Jiao Tong University</h4>
2018 Spring: <a href="/teaching/2018-sping-teaching" rel="permalink">CS137 Data Structure</a> 
2017 Fall: <a href="/teaching/2017-fall-teaching" rel="permalink">CS139 C Programming</a> 
2017 Spring: <a href="/teaching/2017-sping-teaching" rel="permalink">CS137 Data Structure</a> 

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
