<style>
.button {
  background-color: #007bff; 
  border: none;
  color: white;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: center;
  border-radius: .25rem;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-sm > .button {
     padding: 0.25rem 0.5rem;
     font-size: 0.875rem;
 }

</style>

{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}


    <h2 class="archive__item-title" itemprop="headline">
      <a>{{ title }}</a>
    </h2>

    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    <p><i>{{ post.venue }}</i> </p>
    <p><i>{{ post.excerpt }}</i> </p>

    <a href="{{ post.paperurl }}" class="button btn-sm active" role="button" aria-pressed="true">Paper</a>
    <a href="{{ post.bibtex }}" class="button btn-sm active" role="button" aria-pressed="true">BibTex</a>
    {% if post.code %}
    <a href="{{ post.code }}" class="button btn-sm active" role="button" aria-pressed="true">Code</a>
    {% endif %}

  </article>
</div>
